<div class="navbar-nav">
    <ul class="menu-list">
        <li class="menu-item">
            <button class="menu-button" mat-button [matMenuTriggerFor]="elementsMenu">
                <mat-icon class="material-symbols-outlined">expand_more</mat-icon>
                Elementos
            </button>
            <mat-menu #elementsMenu="matMenu">
                <a class="menu-link" mat-menu-item href="site/elements/activities">Actividades</a>
                <a class="menu-link" mat-menu-item href="site/elements/cost-centers">Centros de costo</a>
                <a class="menu-link" mat-menu-item href="site/elements/products">Productos</a>
                <a class="menu-link" mat-menu-item href="site/elements/resources">Recurso</a>
                <a class="menu-link" mat-menu-item href="site/elements/inductors">Inductores</a>
            </mat-menu>
        </li>
        <li class="menu-item">
            <button class="menu-button" mat-button [matMenuTriggerFor]="relationsMenu">
                Relaciones
                <mat-icon class="material-symbols-outlined">expand_more</mat-icon>
            </button>
            <mat-menu #relationsMenu="matMenu">
                <a class="menu-link" mat-menu-item href="site/relations/activity-product">Actividad - Producto</a>
                <a class="menu-link" mat-menu-item href="site/relations/cost-center-resource">Centro de costo - Recurso</a>
                <a class="menu-link" mat-menu-item href="site/relations/material-labor">Material - Mano de obra</a>
                <a class="menu-link" mat-menu-item href="site/relations/resource-activity">Recurso - Actividad</a>
            </mat-menu>
        </li>
        <li class="menu-item">
            <button class="menu-button" mat-button [matMenuTriggerFor]="costingMenu">
                Costeo
                <mat-icon class="material-symbols-outlined">expand_more</mat-icon>
            </button>
            <mat-menu #costingMenu="matMenu">
                <a class="menu-link" mat-menu-item href="site/costing/abc-costing">Costeo ABC</a>
            </mat-menu>
        </li>
        <li class="menu-item">
            <button class="menu-button" mat-button [matMenuTriggerFor]="analysisMenu">
                Analisis
                <mat-icon class="material-symbols-outlined">expand_more</mat-icon>
            </button>
            <mat-menu #analysisMenu="matMenu">
                <a class="menu-link" mat-menu-item href="site/analysis/view-analysis" routerLinkActive="nav-active">Ver analisis</a>
                <a class="menu-link" mat-menu-item href="site/analysis/generate-report" routerLinkActive="nav-active">Generar reporte</a>
            </mat-menu>
        </li>
    </ul>
</div>



<!-- <div>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
           
            <button mat-icon-button disabled></button>
            {{node.name}}
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
            </button>
            {{node.name}}
        </mat-tree-node>
    </mat-tree>
</div> -->