<section class="container">
    <div style="display:flex">
        <div style="width:42%">
            <h1>Actividades</h1>
            <app-base-table [columns]="tableColumns" [data]="dataSource" [config]="tableConfig"
            (action)="onTableAction($event)"></app-base-table>
        </div>
        <div style="width:10%"></div>
        <div style="width:42%">
            <h1>Productos</h1>
            <app-base-table [columns]="tableColumns2" [data]="dataSource2" [config]="tableConfig2"
            (action)="onTableAction($event)"></app-base-table>
        </div>
    </div>
</section>