<mat-toolbar color="primary">
    <span>Costeo ABC</span>
    <span class="example-spacer"></span>
    <ul>
        <li>
            <a href="/login">Iniciar sesión</a>
        </li>
        <li>
            <a href="/register">Registrar</a>
        </li>
    </ul>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
<router-outlet></router-outlet>