<section class="modal">
    <button mat-icon-button matDialogClose class="btn btn--close">
        <mat-icon>close</mat-icon>
    </button>
    <mat-dialog-content>
        <header>
            <h1>Titulo</h1>
        </header>
        <mat-form-field>
            <mat-label>Input</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Input</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Input</mat-label>
            <input matInput>
        </mat-form-field>

    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button color="warn" type="button" matDialogClose>Cancelar</button>
        <button mat-raised-button color="primary" type="button">Guardar</button>
    </mat-dialog-actions>
</section>